@font-face {
  font-family: 'FB';
  src: url(./assets/fonts/Sansation-Bold.ttf);
}

@font-face {
  font-family: 'FR';
  src: url(./assets/fonts/Sansation-Regular.ttf);
}

@font-face {
  font-family: 'FL';
  src: url(./assets/fonts/Sansation-Light.ttf);
}

:root {
  --orange-color: #fa9145;
  --grey-color: rgba(0, 0, 0, 0.719);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}


.menu-app {

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .header {
    // border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 26px -11px rgba(66, 68, 90, 0.34);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      font-family: 'FB';

      h1 {
        height: 100%;
      }

      img {
        width: clamp(34px, 2vw, 36px);
        height: clamp(40px, 2vw, 40px);
      }

      p {
        font-family: 'FL';
        font-size: clamp(12px, 1.2vw, 14px);
      }
    }

    .categories {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      width: 100%;

      ul {
        display: grid;
        align-items: center;
        width: 100%;
        overflow: auto;
        display: flex;
        gap: 22px;
        padding: 30px 20px;
        // box-shadow: 8px 5px 26px -11px rgba(66, 68, 90, 0.34);

        &::-webkit-scrollbar {
          display: none;
        }

        li {
          font-family: 'FR';
          font-size: clamp(22px, 1.4vw, 24px);
          cursor: pointer;
          white-space: nowrap;
          padding: 12px 16px;
          border-radius: 24px;
          background: #00000010;
        }

        .active {
          background: var(--orange-color);
          color: white;
          border-radius: 24px;
        }
      }
    }
  }

  .main {
    border-radius: 20px 20px 0 0;

    &-content {
      padding: 30px 20px;

      &-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        &-item {
          background: #00000010;
          padding: 18px;
          height: 360px;
          border-radius: 20px;

          .item {
            &-image {
              width: 100%;
              height: 200px;
              overflow: hidden;
              border-radius: 15px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease;
              }
            }

            &-info {
              margin-top: 16px;

              &-header {
                display: flex;
                align-items: start;
                gap: 6px;
                justify-content: space-between;

                h2 {
                  font-family: 'FB';
                  font-size: clamp(24px, 1.2vw, 26px);
                  width: 100%;
                }

                .price {
                  width: 80px;
                  font-family: 'FB';
                  font-size: clamp(26px, 1vw, 28px);
                }
              }

              .description {
                font-family: 'FL';
                font-size: clamp(16px, 1vw, 18px);
                margin-top: 8px;
                line-height: 1.2em;
                max-height: 2.4em;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
            }
          }
        }
      }
    }
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

    .modal-content {
      background: white;
      width: 90%;
      height: auto;
      z-index: 999;
      padding: 30px;
      border-radius: 10px;
      text-align: center;

      &-item {
        .item-image {
          width: 100%;
          height: 300px;
          overflow: hidden;
          border-radius: 15px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.3s ease;
          }
        }

        .item-info {
          margin-top: 16px;

          &-header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: start;
            gap: 6px;
            justify-content: space-between;

            h2 {
              font-family: 'FB';
              font-size: clamp(24px, 1.2vw, 26px);
            }

            .price {
              width: 80px;
              font-family: 'FB';
              font-size: clamp(26px, 1vw, 28px);
            }
          }

          .description {
            display: flex;
            font-family: 'FL';
            font-size: clamp(16px, 1vw, 18px);
            margin-top: 8px;
            line-height: 1.2em;
            max-height: 2.4em;
          }

          .ingridients {
            font-family: 'FB';
            font-size: clamp(20px, 1vw, 22px);
            margin-top: 12px;
            text-align: left;
            height: 100%;

            &-list {
              display: grid;
              grid-template-columns: auto auto auto;
              margin-top: 20px;
              gap: 16px;
              height: 100%;

              &-item {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'FÐ”';
                font-size: clamp(16px, 1vw, 18px);
                margin-bottom: 4px;
                background: var(--orange-color);
                border-radius: 50px;
                color: white;
                padding: 8px;
              }
            }
          }
        }
      }
    }
  }
}